 /**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme - Analogous
#FF282F
#17382A
#2788FE
#FC6403
#44424C
#000000
#FFFFFF
#C2FFD4
#B5FFF5;
*****************************************/
 
 @import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';
 @import url('https://fonts.googleapis.com/css?family=Alegreya|PT+Serif');
 @import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans|PT+Serif|Roboto');
 @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Fira+Mono');
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 html {
     font-size: 16px;
     line-height: 1.6;
     font-family: 'Open Sans', 'Roboto', sans-serif;
 }
 /*************************** 
DEFAULTS - MOBILE FIRST 
***************************/
 
 h1 {
     font: bold 2.236rem 'Alegreya', 'PT Serif', serif;
     color: #FFFFFF;
     margin: 0 0 0 2.5%;
 }
 
 h2 {
     font: bold 1.618rem 'Alegreya', 'PT Serif', serif;
 }
 
 p {
     margin: 0 0 1rem 0;
 }
 
 li,
 p,
 a {
     font: 1.0rem 'Open Sans', 'Roboto', sans-serif;
     line-height: 1.5;
 }
 
 pre,
 code,
 kbd {
     font: normal 0.618rem 'Fira Mono', 'Anonymous Pro';
 }
 /***************************
    LAYOUT - MOBILE FIRST
***************************/
 
 .wrapper {
     width: 95%;
     margin: 0 auto;
 }
 
 header {
     width: 100%;
     height: auto;
     background-image: url("../images/smartphones-technology-website-header.jpg");
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 nav {
     width: 100%;
     margin: 0 auto;
 }
 
 nav>ul {
     width: 100%;
     margin: 1rem 0 0 0;
 }
 
 nav li {
     width: 100%;
     list-style-type: none;
     border: 1px solid #68FEBF;
     margin: 0 0 5px 0;
     /* background-color: #68FEBF;*/
 }
 
 nav a,
 nav a:link,
 nav a:visited {
     font: 1.0rem 'Open Sans', 'Roboto', sans-serif;
     display: block;
     text-align: center;
     text-decoration: none;
     padding: 0.5rem;
     color: #FFFFFF;
 }
 
 nav a:active,
 nav a:focus,
 nav a:hover {
     color: #FC6403;
 }
 
 main {
     width: 100%;
 }
 
 .col {
     float: none;
     width: 100%;
 }
 
 .col img {
     width: 100%;
     height: auto;
     max-width: 100%;
     background-color: #B5FFF5;
     margin: 0 1rem 1rem 0;
 }
 
 footer {
     clear: both;
     width: 100%;
     border: 1px solid #44424C;
     position: relative;
     bottom: 0;
     z-index: -1;
 }
 
 .footer ul {
     list-style: none;
     padding: 0;
 }
 
 .footer ul li {
     display: inline;
 }
 
 .footer ul li a {
     /* -- 
                 Turn links into block-level 
                elements so you can use >>width<< property 
                 on <a> tag. 
                -- */
     display: block;
     float: left;
     /*width: 25%;*/
     margin: 0 0.5rem 0 0;
 }
 
 .footer p {
     float: left;
     margin: 0 0.5rem 0 0;
 }
 /* -- FIRST BREAK POINT - TABLET VIEW -- */
 
 @media screen and (min-width: 600px) {
     h1 {
         font: bold 3rem 'Alegreya', 'PT Serif', serif;
         margin: 0 0 0 5%;
     }
     h2 {
         font: bold 2rem 'Alegreya', 'PT Serif', serif;
     }
     p {
         margin: 0 0 1rem 0;
     }
     li,
     p,
     a {
         font: 1.2rem 'Open Sans', 'Roboto', sans-serif;
         line-height: 1.5;
     }
     pre,
     code,
     kbd {
         font: normal 1rem 'Fira Mono', 'Anonymous Pro';
     }
     .wrapper {
         width: 100%;
     }
     header {
         width: 100%;
     }
     nav {
         width: 90%;
     }
     main {
         width: 90%;
         margin: 0 auto;
     }
     nav ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         border: 1px solid #000000;
         background-color: #C2FFD4;
     }
     nav li {
         float: left;
         width: 20%;
         border: none;
     }
     nav li a {
         display: block;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         color: #2788FE;
     }
     nav a,
     nav a:link,
     nav a:visited {
         color: #2788FE;
     }
     .link a,
     .link a:link,
     .link a:visited {
         font: 1.2rem 'Open Sans', 'Roboto', sans-serif;
     }
     .col {
         float: left;
         width: calc(50% - 1rem);
     }
     .col img {
         width: 60%;
         /*height: 300px;*/
         max-width: 100%;
         background-color: #B5FFF5;
         margin: 0 1rem 1rem 0;
         float: left;
     }
     .first {
         margin: 0 1rem 0 0;
     }
     footer {
         clear: both;
         width: 90%;
         margin: 0 0 0 5%;
     }
 }
 /* -- SECOND BREAK POINT - DESKTOP VIEW -- */
 
 @media screen and (min-width: 800px) {
     h1 {
         font: bold 3.618rem 'Alegreya', 'PT Serif', serif;
         margin: 0 0 0 5%;
     }
     h2 {
         font: bold 2.618rem 'Alegreya', 'PT Serif', serif;
     }
     p {
         margin: 0 0 1rem 0;
     }
     li,
     p,
     a {
         font: 1.4rem 'Open Sans', 'Roboto', sans-serif;
         line-height: 1.5;
     }
     pre,
     code,
     kbd {
         font: normal 1rem 'Fira Mono', 'Anonymous Pro';
     }
     header {
         width: 100%;
         text-align: left;
     }
     nav {
         width: 90%;
         margin: 0 auto;
     }
     nav ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         border: none;
         background-color: #FFFFFF;
     }
     nav li {
         width: 20%;
         float: left;
         border: none;
         margin: 0 auto;
     }
     nav li a {
         display: block;
         /*text-align: center;*/
         text-decoration: none;
         /*padding: 14px 16px;*/
         margin: 0 auto;
     }
     .link a,
     .link a:link,
     .link a:visited {
         font: 1.618rem 'Open Sans', 'Roboto', sans-serif;
         text-align: left;
         color: #2788FE;
     }
     main {
         width: 90%;
         margin: 0 auto;
     }
     .col {
         float: left;
         width: calc(50% - 1rem);
     }
     .col img {
         width: 50%;
         /*height: 300px;*/
         max-width: 100%;
         background-color: #B5FFF5;
         ;
         margin: 0 1rem 1rem 0;
         float: left;
     }
     .first {
         margin: 0 1rem 0 0;
     }
     footer {
         width: 100%;
         clear: both;
     }
 }
 /* -- THIRD BREAK POINT - LARGE DESKTOP VIEW -- */
 
 @media screen and (min-width: 1200px) {
     h1 {
         font: bold 4.236rem 'Alegreya', 'PT Serif', serif;
         /*margin: 0 0 0 2.5%;*/
     }
     h2 {
         font: bold 3.236rem 'Alegreya', 'PT Serif', serif;
     }
     p {
         margin: 0 0 rem 0;
     }
     li,
     p,
     a {
         font: 1rem 'Open Sans', 'Roboto', sans-serif;
         line-height: 1.2;
     }
     pre,
     code,
     kbd {
         font: normal 2rem 'Fira Mono', 'Anonymous Pro';
     }
     header h1 {
         margin: 0 0 0 8%;
         /*font: bold 4.236rem 'Alegreya',
'PT Serif',
serif;*/
     }
     .wrapper {
         width: 100%;
     }
     header {
         width: 100%;
     }
     .wrapper nav {
         width: calc(30% - 3rem);
         margin: 2rem 1rem 0 0;
         float: left;
     }
     nav>ul {
         width: 100%;
         /* margin: 0 0 1rem 0;*/
     }
     .link {
         width: 100%;
         margin: 0 auto;
         list-style-type: none;
         overflow: hidden;
         /* background-color: #68FEBF;*/
     }
     nav a,
     nav a:link,
     nav a:visited {
         font: 1rem 'Open Sans', 'Roboto', sans-serif;
         display: block;
         text-align: left;
         text-decoration: none;
         /*padding: 0.5rem;*/
         color: #2788FE;
         margin: 0 0 0 30%;
         /*padding: 0 0 0 15%;*/
     }
     nav a:active,
     nav a:focus,
     nav a:hover {
         color: #FC6403;
     }
     .wrapper main {
         width: 70%;
         /*width: 0 auto;*/
         float: left;
         margin-top: 2rem;
     }
     .col {
         float: left;
         width: calc(50% - 1rem);
     }
     .col img {
         width: 50%;
         /*height: 300px;*/
         max-width: 100%;
         background-color: #B5FFF5;
         margin: 0 1rem 1rem 0;
         float: left;
     }
     .first {
         margin: 0 1rem 0 0;
     }
     footer {
         width: 100%;
         clear: both;
     }
 }